<!DOCTYPE html>
<html>
<head>
    <h1>
    <title>Выберите необходимый метод</title>
    </h1>
</head>
<body>
    <form method="get" action="/index.html" enctype="multipart/form-data">
        <button type="submit" name="name" value="object" >object</button>
        <button type="submit" name="name" value="district">District</button>
        <button type="submit" name="name" value="apartment_house">House</button>
        <button type="submit" name="name" value="municipalities">municipalities</button>
        <button type="submit" name="name" value="object_type">Object_type</button>
    </form> 
</body>
</html>